.HeaderNavigation {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px black;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem 0 #666;

  & .account {
    margin-left: 1em;
    text-align: right;
  }

  & .accountButtons > * {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.subscriptionInactive {
    margin-bottom: 0;
  }
}

.subscriptionInactiveMessage {
  border: 1px solid goldenrod;
  border-top: none;
  background: lightgoldenrodyellow;
  padding: 1rem;
  margin-bottom: 1rem;
}
