.ForgotPassword {
  display: flex;
  flex-direction: column;

  & h1 {
    margin: 0 1rem;
  }

  & form {
    display: flex;
    flex-direction: column;
  }

  & .explanation {
    margin: 0 1rem;
  }

  & .emailSent {
    margin: 0 1rem;
  }
}
